@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');


@import "tailwindcss";


* {
  font-family: "Sofia Sans Condensed", sans-serif;

}

@theme {
  --color-orange: #FF5722;
  --color-orange-darkest: #E64A19;
  --color-orange-light: #FFCCBC;
}


.skiptranslate {

  display: none !important;

}